beautifulsoup4==4.14.3
faiss==1.5.3
faiss-cpu==1.13.2
langchain==1.2.15
langchain_classic==1.0.3
langchain_community==0.4.1
langchain_core==1.2.28
langchain_mistralai==1.1.2
langchain_text_splitters==1.1.1
mistralai==2.3.2
numpy==2.4.4
pandas==3.0.2
pytest==9.0.2
python-dotenv==1.2.2
Requests==2.33.1
tiktoken==0.12.0